{% extends 'now/base.html' %}
<head>
  <title>Вход</title>
</head>
{% block content %}
<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0 mx-5">
    <h2 class="text-title">вход</h2>
</div>

<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0 my-3 mx-5">


    <div class="card shadow-sm" style="width: 350px; height: auto; background-color: #FFFFFF;">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <center class="my-4">
        <a href="{% url 'home' %}"><img src="/static/now/images/logo.png" width="60" height="60"></a>
        </center>

        <div class="form-group mx-5">

        <div class="form-error">{{ form.non_filed_errors }}</div>

        {% for f in form %}
            <div class="card-body-sm">
                <label class="card-text" for="{{ f.id_for_label }}">{{ f.label }}: </label>
                <p class="card shadow-sm">{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            </div>
        {% endfor %}

        <div class="btn-group my-2 mb-5">
            <button class="btn btn-sm btn-outline-success" type="submit">Войти</button>
        </div>
        </div>

    </form>
    </div>
</div>
{% endblock %}